@media  screen and (orientation: portrait) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: rgb(36,1,36);
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
}

::-webkit-scrollbar{
    display:none;
}

.bgm4{
    background-color: blue;
    width: 100%;
    
  }
  .logo4{
    
    text-align: center;
    font-size: 250%;
    width: 100%;
    color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    
  }

.login{
    color:white;
    margin-top: 5%;
    text-align: center;
    font-size: 65px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation-name: log;
    animation-duration: 0.2s;
    visibility: hidden;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
}

@keyframes log{
    from{
        margin-top: 9%;
        opacity: 25%;
    }
    to{
        margin-top: 5%;
        visibility: visible;
    }
}

.dogo2{
    margin-top: 8%;
    
}

.user{
    animation-name: username;
    animation-duration:0.2s ;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-timing-function: ease-in-out;
}

@keyframes username{
    from{
        margin-top:4% ;
        opacity:25%;
    }
    to{
        visibility: visible;
    }
}

.login1{
    display: flex;
    justify-content: center;
}

.login10{

    display: flex;
    justify-content: center;

}


.pass{
    margin-top: 6%;
    visibility: hidden;
    animation-name: password;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes password{
    from{
        margin-top:8% ;
        opacity:25%;
    }
    to{
        margin-top: 6%;
        visibility: visible;
    }
}

.us{
    width: 210px;
    height: 30px;
    border: none;
    background-color: rgb(36,1,36);
border-bottom: 4px solid white;
color:white;
font-size: 18px;
margin: auto;
}

.us:hover{
    outline: none;
}

::placeholder{
    text-align: center;
    font-size: 20px;
}
.login2{

    width:215px;
    height: 50px;
    background-color: rgb(15,153,153);
    color: white;
    border-radius: 35px;
    font-size: 20px;
    border-color: white;
}

.login20{

    width:215px;
    height: 50px;
    background-color: rgb(15,153,153);
    color: white;
    border-radius: 35px;
    font-size: 20px;
    border-color: white;
}

.dogo3{
    margin-top: 4%;
}

.login3{
    display: flex;
    justify-content: center;
    animation-name: confirm;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-timing-function: ease-in-out;
}

@keyframes confirm{
    from{
        margin-top: 10%;
        opacity:25%;
    }
    to{
        margin-top: 8%;
        visibility: visible;
    }
}

.login4{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color:white;
    visibility: hidden;
    animation-name: Or;
    animation-duration: 0.2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes Or{
    from{
        margin-top: 5%;
        opacity:25%;
    }
    to{
        margin-top: 3%;
        visibility: visible;
    }
}

.login5{
    display: flex;
    justify-content: center;
    position: relative;

    animation-name: Sign;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-timing-function: ease-in-out;
}

@keyframes Sign{
    from{
        margin-top: 5%;
        opacity:25%;
    }
    to{
        margin-top: 3%;
        visibility: visible;
    }
}

.forget{
    background-color: transparent;
    border-style: none;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: medium;
    margin-top: 3%;
    margin-left: 2%;
    animation-name: fade;
    animation-duration:1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-timing-function: ease-in-out; 
}

@keyframes fade{
    0%{
        visibility: visible;
        opacity: 0%;
    }
    20%{
        visibility: visible;
        opacity:20%;
    }
    40%{
        visibility: visible;
        opacity: 40%;
    }
    60%{
        visibility: visible;
        opacity:60%;
    }
    80%{
        visibility: visible;
        opacity: 80%;
    }
    100%{
        visibility: visible;
        opacity:100%;
    }
}

.keep{
    border-radius: 5px;
    border-color: black;
    color: bisque;
    box-shadow:2px 2px  3px 2px darkgrey;
    }
    .keep:checked{
        border-color: rgb(228, 8, 8);
        background-color: rgb(240, 9, 97);
        box-shadow: 2px 2px 2px 2px rgb(241, 76, 219) ;
        color: rgb(243, 13, 109);
    }

    .dhoom{
        color: #fff;
        font-size: medium;
    }
    .auto{
        display: flex;
        justify-content: right;
    }
}